
<head>
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}" />

</head>

<div class="container">
<h1>Inspect me!</h1>
  <h3>Knowing <b>how</b> a website works is an essential part of website exploitation</h3>
</div>

<!-- part 1 -->
<!-- pecan{insp3ct_ -->

<foo>
<foo>
<foo>
<foo>
<foo>
<foo>
<foo>
<foo>
<foo>
<foo>
<foo>
<foo>
<foo>
<foo>
<foo>
<foo>
<foo>
<foo>
<foo>
<foo>
<foo>
<foo>
<foo>
<foo>
<foo>
<foo>
<foo>
<foo>
<foo>
<foo>
<foo>
<foo>
<foo>
<foo>
<foo>
<foo>
<foo>
<foo>
<foo>
<foo>
<foo>
<foo>
<foo>
<foo>
<foo>
<foo>
<foo>
<foo>
<foo>
<foo>
<!-- part 2 -->
<!-- s0urc3_ -->
</foo>
</foo>
</foo>
</foo>
</foo>
</foo>
</foo>
</foo>
</foo>
</foo>
</foo>
</foo>
</foo>
</foo>
</foo>
</foo>
</foo>
</foo>
</foo>
</foo>
</foo>
</foo>
</foo>
</foo>
</foo>
</foo>
</foo>
</foo>
</foo>
</foo>
</foo>
</foo>
</foo>
</foo>
</foo>
</foo>
</foo>
</foo>
</foo>
</foo>
</foo>
</foo>
</foo>
</foo>
</foo>
</foo>
</foo>
</foo>
</foo>
</foo>
