
<h1>We are so smart!</h1>

<p>Instead of something boring and nerdy like prepared statements (ew!), we use ultra modern, trailblazing, avant-garde input filtering!! Here is a list of filters we have for our users:</p>

<ul>
  <li>
    <b>normal users:</b> Get nothing! because they're scrubs and dont make us money!!!! It's fine though, we use whitespace detection.
  </li>
  <li>
    <b>admins:</b> 'OR' and '1' filtering. We had budget cuts this year so they only get some filtering (still very secure!)
  </li>
  <li>
    <b>superadmins:</b> 'OR', 'or', '1', and '=' filtering!!! Wow! How advanced!
  </li>

</ul>


