<style>
  * { font-family: sans-serif; }
  div { padding: 20px; }
  li { margin: 10px; }
</style>

<div>
  <ul>
  <li>
    <a href="https://portswigger.net/support/sql-injection-bypassing-common-filters">Portswigger: bypassing common SQLi filters</a>  </li>
  <li>
    <a href="https://programmer.ink/think/sql-injection-bypass.html">Programmer Think: SQLi bypasses</a>
  </li>
  <li>
    <p>Inspect element :)</p>
  </li>
  <li>
    <p>Look around for valid users on the site</p>
  </li>
  </ul>
</div>
