<!DOCTYPE html>
<html>
<head>
  <link href="{{url_for('static', filename='style.css')}}" rel="stylesheet" type="text/css" />
</head>

<body class="index">
 
  <nav>
    <ul>
      <li>
        <a href="/">Home</a>
      </li>
      <li>
        <a href="/login">Login</a>
      </li>
    </ul>
  </nav>

  <div class="main">
    <h1>My blog about filters</h1>
    <p>Yeah so I really like all kinds of filters like pool filters and oil filters and cigarette filters and air filters and coffee filters and photographic filters and those drinky straw filters and water filters. The following image gallery include my favourite filters :) </p>
    
  </div>
  <div class="gallery">
    <img src="filter1.png"></img>
    <img src="filter2.jpg"></img>
    <img src="filter4.jpg"></img>
    <img src="filter6.jpg"></img>
  </div>
  <div class="comments">
    <h1 style="background-color: #4e747f; padding: 15px;">Comments</h1>
    <div class="post">
      <div class="reply">
      <h2>This website sucks!</h2>
      <h3>carlos</h3>
      <p>I don't care about filters??? Give me more Fortnite and Andrew Tate</p>
      </div>
      <div class="reply">
        <h3>admin</h3>
        <p>I hate you and CSS so much. When will the pain stop.</p>
      </div>
      <div class="reply">
        <h3>superadmin</h3>
        <p>I will destroy you</p>
      </div>
    </div>
  </div>

  <!-- I hate CSS. -->
  <!-- I hate CSS. -->
  <!-- I hate CSS. -->
  <!-- I hate CSS. -->
  <!-- I hate CSS. -->
  <!-- I hate CSS. -->
  <!-- I hate CSS. -->
  <!-- I hate CSS. -->
  <!-- I hate CSS. -->
  <!-- I hate CSS. -->
  <footer>
  </footer>

</body>
</html>
